/* variables */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* Styles for the "wind" section of the site */
.weather-stations > li a {
  height: 110px;
  width: 110px;
  border: 10px solid #efefef;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
}
.weather-stations > li a li.speed {
  height: 90px;
  width: 90px;
}
.weather-stations > li a li.direction {
  height: 120px;
  width: 120px;
  top: -15px;
  left: -15px;
}
.weather-stations > li a li.direction .direction-icon {
  height: 20px;
  left: 55px;
  border-top: 20px solid #79a900;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.weather-stations {
  margin-top: 2em;
  *zoom: 1;
}
.weather-stations:before,
.weather-stations:after {
  display: table;
  content: "";
}
.weather-stations:after {
  clear: both;
}
.weather-stations > li {
  float: left;
  margin: 0 0 0 5%;
  padding: 0 !important;
  background-image: none !important;
  text-align: center;
}
.weather-stations > li:first-child {
  margin: 0;
}
.weather-stations > li h3 {
  margin: 5px 0 10px;
  font-size: 1.2em;
  color: #888;
  text-transform: uppercase;
}
.weather-stations > li a {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #444444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.weather-stations > li a ul {
  position: absolute;
  margin: 0;
}
.weather-stations > li a li {
  padding: 0;
  background-image: none;
}
.weather-stations > li a li.speed {
  display: block;
  position: absolute;
  z-index: 1010;
  color: #79a900;
  font-size: 12px;
  line-height: 14px;
}
.weather-stations > li a li.speed b {
  display: block;
  margin-left: -6px;
  /* compensate for italic font style */

  padding: 15px 0 0 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
  letter-spacing: -0.08em;
  font-family: georgia;
  font-style: italic;
}
.weather-stations > li a li.direction {
  display: block;
  position: absolute;
  z-index: 1000;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.weather-stations > li a li.direction .direction-icon {
  display: block;
  position: absolute;
  top: 0;
  text-indent: -9999em;
  -webkit-transform-origin: right center;
}
.weather-stations > li a li.direction .degrees {
  display: none;
  font-size: 0.9em;
  color: #aaaaaa;
}
