---
title: Om mig
---

{% include header.html %}
	<body class="{{page.body_class}}">
		<div id="page">

			<div class="contentwrap">
				<div id="content" role="main">

					<div class="cv">
						<div class="grid_7">
							<h2>Om mig</h2>
							
							<!-- <img class="illustration" src="/images/content/me-me-me.jpg" alt="Me" /> -->
							
							Hej udlejer
							
							Jeg er 
							

							* har selv ejerlejlighed i Roskilde som er udlejet og kender
							
							* aktiv i min fritid
							* selvstændig grafiker på 5. år
							* 
							
							
							
						</div>
						
						<div class="grid_7 prefix_1">
							<h2>Basis information</h2>

							<table>
								<tr>
									<th>Navn</th>
									<td>Daniel Aakjær Sørensen</td>
								</tr>
								<tr>
									<th>Addresse</th>
									<td>
										Tune Bygade 34 A<br />
										4030 Tune<br />
									</td>
								</tr>
								<tr>
									<th>Mobil</th>
									<td>+45 2533 7548</td>
								</tr>
								<tr>
									<th>Fødselsdag</th>
									<td>7. september<sub>th</sub> 1980 ~ (31 år)</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>



