{% include header.html %}
	<body class="{{page.body_class}}">
		<div id="page">
			{% include page-top.html %}

			<div class="contentwrap">
				
				{% if page.title != nil and page.page_title != false %}
					<h1 class="page-title">{{ page.title }}</h1>
				{% endif %}
				
				<div id="content" role="main">
					{{ content }}
				</div>

				{% include sidebar.html %}
				
				{% if page.paginate == true %}
					{{ paginator | pager_links }}
				{% endif %}
			</div>
		
			{% include footer.html %}
		</div>
		{% include tracking.html %}
	</body>
</html>